@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.cdnfonts.com/css/m12-match-biker');

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 5vh 5vw;
  background: rgb(34,34,34);
  background: radial-gradient(circle, rgba(34,34,34,1) 0%, rgba(43,55,40,1) 100%);
  color: white;
  font-family: "Share Tech Mono", monospace;

  .hero {
    font-style: italic;
    font-family: 'M12_MACH BIKER', sans-serif;
    margin: 2vh 0vw 10vh 0vw;
    letter-spacing: 5px;
    h1 {
      font-size: 7vh;
      margin-bottom: 2vh;
      span {
        color: green;
      }
    }

    text-align: center;
  }

  .search {
    margin: 2vh;

    input {
      font-family: inherit;
      background-color: #303030;
      color: white;
      border: none;
      padding: 5px 10px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    input:focus {
      outline: none;
    }

    button {
      font-family: inherit;
      background-color: #636363;
      color: white;
      border: none;
      padding: 5px 10px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    button:hover {
      background-color: #515151;
      cursor: pointer;
    }

    button:disabled {
      color: rgb(255, 255, 255, 0.5);
    }

    button:disabled:hover {
      background-color: #636363;
      cursor: default;
    }


  }

  .list-item{
    background-color: #6363630c;
    padding: 10px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8);
    margin: 5vh 0vw;
    list-style: none;

    a{
      text-decoration: none;
      color: white;
      font-weight: 900;
    }
    a:hover{
      text-decoration: underline;
    }
    #icon{
      margin: 0px 2px -2px 2px;
    }
  
    .likes{
      font-size: 15px;
      padding: 2px 5px;
      background-color: #472a24;
      border-radius: 5px;
      #icon{
        color: #F14141;
        margin: 0px 2px -2px 2px;
      }
    }

    button{
      margin: 0vh 1vw;
      border: none;
      padding: 2px 5px;
      border-radius: 5px;
      font-family: inherit;
      color: white;
      background-color: #515151;
    }
    button:hover{
      background-color: #303030;
      cursor: pointer;
    }
  }

}